@font-face {
    font-family: 'Arabic-bold';
    src: url('../assets/fonts/ar-GE-SS/ArbFONTS-GE-SS-Two-Bold.otf');
    font-display: swap;
}

.header {
    background-color: #679F5E;
    height: 300px;
    text-align: center;
}
.header h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-top: 40px;
    font-family: 'Arabic-bold';
}
.img-container {
    width: 850px;
    margin: 0 auto;
}
@media (max-width: 901px) {
    .img-container {
        width: 90vw;
    }
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.main-img {
    object-fit: cover;
    margin-top: -171px;

}

.text-section{
    margin-top: 30px;
    text-align: justify;
    color: #7D8285;
    margin-bottom: 50px;
    padding: 0 10px;
}
.text-section h5{
    font-family: 'Arabic-bold';
}